@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
  background-color: #212121;
}

.container {
    display: block;
    clear: both;
    margin: auto;
    width: 50%;
}

#footer {
    clear: both;
    font-size: 12px;
    padding: 20px 0 10px;
    text-align: center;
    color: #d0782a;
}

/* Template from: http://codepen.io/littlesnippets/pen/WrMOWG*/

.card {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 25px 1%;
  min-width: 230px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414;
}
.card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.card figcaption {
  width: 100%;
  padding: 15px 25px;
  left: 0;
  top: 50%;
}
.card .profile {
  border-radius: 50%;
  margin: 10px;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
}
.card h3 {
  margin: 0 0 5px;
  font-weight: 400;
}
.card h3 span {
  display: block;
  font-size: 0.6em;
  color: #f39c12;
  opacity: 0.75;
}
.card h4 {
  margin: 0 0 5px;
  font-weight: 200;
}
.card i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}
.card a {
  text-decoration: none;
}
.card i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


