.container {
    display: block;
    clear: both;
    margin: auto;
    width: 50%;
}

#footer {
    clear: both;
    font-size: 12px;
    padding: 20px 0 10px;
    text-align: center;
    color: #d0782a;
}
